* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important; }

.texto_1::after {
  content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?"; }

.texto_2::after {
  content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?"; }

.texto_3::after {
  content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?"; }

.texto_4::after {
  content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?"; }

.texto_5::after {
  content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?"; }

.texto_6::after {
  content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?"; }

.texto_7::after {
  content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?"; }

.texto_8::after {
  content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?"; }

.texto_9::after {
  content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?"; }

.texto_10::after {
  content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?"; }

#bg-light {
  background-color: none !important; }

.with-border {
  border-style: solid;
  border-width: 5px;
  border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 6;
  padding: 0%; }

#particles-js {
  background-color: #dddd9f;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: -1; }

.espejo :hover {
  transform: rotateY(180deg);
  transition-duration: 3s;
  transition-delay: 1s; }

.offcanvas {
  background-color: #723f53 !important; }

#header {
  height: 10vh;
  width: 100vw; }

#main {
  /* height: 85vh; */
  width: 100vw; }

#footer {
  height: 5vh;
  width: auto; }

@media (max-width: 576px) {
  #footer {
    display: none; } }

/* @include media-breakpoint-up(md) { }
      @include media-breakpoint-up(lg) { }
      @include media-breakpoint-up(xl) { }
      @include media-breakpoint-up(xxl) { } */
#main2 {
  height: 40vh; }
