
$textos:(
    texto_23:"ñlñl",
    texto_24:"2584",
);






$textos:(
texto_1:"Emilio Cuenca, fotógrafo de prensa desde 2004 y adiestrador de perros, con licencia expedida por la Asociación Nacional de Adiestradores Caninos Profesionales",


texto_2: "Cuando hace unos años la guapa de Fina llegó a mi vida, poco podía yo imaginar hasta qué punto iba a cambiarla. Fina es una pequeña Jack Russell, amable, cabezona y fiel hasta las “trancas”, que se convirtió en mi compañera de viaje",

texto_3: "Soy fotógrafo de prensa, pero la llegada de Fina despierta mi interés por adquirir un conocimiento más profundo del mundo de los perros y es entonces cuando decido formarme como adiestrador canino",

texto_4: "Unos años después, al descubrir que Fina padece una grave enfermedad, surge en mí la necesidad de mantener vivo su recuerdo para siempre. Y ese sentimiento enciende la mecha de un proyecto que unirá mis dos pasiones: la fotografía y los perros",

texto_5: "Así nace este proyecto, dirigido a todos aquellos que aman a un perro y desean guardar para siempre una imagen que capte ese instante de entendimiento entre un ser humano y un animal, su amor sincero y sin condiciones, la mirada del amigo verdadero y la sencillez de su belleza",

texto_6: "El fotógrafo de perros quiere con ello poner su granito de arena, difundir la idea de nuestra responsabilidad para con los perros y contribuir a lograr un mundo mejor para ellos, donde el respeto sea una obligación",


texto_7: "Fina me acompañó durante muchos años más , hasta el 25 de marzo de 2020 que nos despedimos los dos juntos tumbados en mi cama. Desde entonces este proyecto cobra aún más fuerza y todo es un homenaje a ella por haber cambiado mi vida y por ser la protagonista de todo esto",

texto_8: "GRACIAS MI AMOR POR ENSEÑARME A MIRAR, SIEMPRE JUNTOS FINA. MIS DOS AMORES : FINA y BALA",
    


texto_9: "Las Sesiones Fotográficas",
    


texto_10:"En mi estudio todo está pensado para que los perros se sientan como en su casa, desde que entran por la puerta todo gira en torno a que se sientan cómodos",
    

texto_11:"Las sesiones de fotografía son relajadas y divertidas. El bienestar de los perros es mi primer objetivo. Trabajo con ellos utilizando el refuerzo positivo para que, a la vez que posan, se lo pasen bien, jueguen y disfruten",

);

@each $texto,$letra in $textos{
    .#{$texto}::before {
        content: $letra;
    }
}