.texto_1::after{
    content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?";

}

.texto_2::after {
    content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?";

}

.texto_3::after {
    content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?";
    
}
.texto_4::after {
    content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?";
    
}
.texto_5::after {
    content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?";
    
}
.texto_6::after {
    content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?";
    
}
.texto_7::after {
    content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?";
    
}
.texto_8::after {
    content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?";
    
}
.texto_9::after {
    content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?";
    
}
.texto_10::after {
    content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corrupti ratione perferendis officiis inventore voluptatibus repudiandae fugit iure ullam impedit officia eligendi quam tempora expedita, optio earum reprehenderit aliquid consequatur?";
    
}