
.texto_1::before {

    content : "Emilio Cuenca, fotógrafo de prensa desde 2004 y adiestrador de perros, con licencia expedida por la Asociación Nacional de Adiestradores Caninos Profesionales";
}
.texto_1::before {

    content : "Emilio Cuenca, fotógrafo de prensa desde 2004 y adiestrador de perros, con licencia expedida por la Asociación Nacional de Adiestradores Caninos Profesionales";
}
.texto_1::before {

    content : "Emilio Cuenca, fotógrafo de prensa desde 2004 y adiestrador de perros, con licencia expedida por la Asociación Nacional de Adiestradores Caninos Profesionales";
}
.texto_1::before {

    content : "Emilio Cuenca, fotógrafo de prensa desde 2004 y adiestrador de perros, con licencia expedida por la Asociación Nacional de Adiestradores Caninos Profesionales";
}
.texto_2::before {

    content : "Cuando hace unos años la guapa de Fina llegó a mi vida, poco podía yo imaginar hasta qué punto iba a cambiarla. Fina es una pequeña Jack Russell, amable, cabezona y fiel hasta las “trancas”, que se convirtió en mi compañera de viaje";
}
.texto_3::before {

    content : "Soy fotógrafo de prensa, pero la llegada de Fina despierta mi interés por adquirir un conocimiento más profundo del mundo de los perros y es entonces cuando decido formarme como adiestrador canino";
}
.texto_4::before {

    content : "Unos años después, al descubrir que Fina padece una grave enfermedad, surge en mí la necesidad de mantener vivo su recuerdo para siempre. Y ese sentimiento enciende la mecha de un proyecto que unirá mis dos pasiones: la fotografía y los perros";
}
.texto_5::before {

    content : "Así nace este proyecto, dirigido a todos aquellos que aman a un perro y desean guardar para siempre una imagen que capte ese instante de entendimiento entre un ser humano y un animal, su amor sincero y sin condiciones, la mirada del amigo verdadero y la sencillez de su belleza";
}
.texto_6::before {

    content : "El fotógrafo de perros quiere con ello poner su granito de arena, difundir la idea de nuestra responsabilidad para con los perros y contribuir a lograr un mundo mejor para ellos, donde el respeto sea una obligación";

}
.texto_7::before {
   content  : "Fina me acompañó durante muchos años más , hasta el 25 de marzo de 2020 que nos despedimos los dos juntos tumbados en mi cama. Desde entonces este proyecto cobra aún más fuerza y todo es un homenaje a ella por haber cambiado mi vida y por ser la protagonista de todo esto";
}
.texto_8::before {
    content: "GRACIAS MI AMOR POR ENSEÑARME A MIRAR, SIEMPRE JUNTOS FINA.
    MIS DOS AMORES\: FINA y BALA"; 
    
}

// .texto_7::before {
    
// }

// .texto_7::before {
    
// }
